In [2]:
import pandas as pd
df=pd.read_csv('Disney_movies.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525 entries, 0 to 524
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           525 non-null    int64
 1   movie_name           525 non-null    object
 2   Directed by          525 non-null    object
 3   Story by             169 non-null    object
 4   Based on             290 non-null    object
 5   Produced by          517 non-null    object
 6   Starring             493 non-null    object
 7   Music by             518 non-null    object
 8   Productioncompany    204 non-null    object
 9   Distributed by       525 non-null    object
 10  Release dates        197 non-null    object
 11  Running time         516 non-null    object
 12  Country              454 non-null    object
 13  Language             502 non-null    object
 14  Budget               314 non-null    object
 15  Box office           397 non-null    object
 16  Narrated by          59 non-null     object
 17  Cinematography       399 non-null    object
 18  Release date         325 non-null    object
 19  Written by           224 non-null    object
 20  Edited by            483 non-null    object
 21  Screenplay by        262 non-null    object
 22  Countries            67 non-null     object
 23  Productioncompanies  321 non-null    object
dtypes: int64(1), object(23)
memory usage: 98.6+ KB

In [5]:
df.head()

,Unnamed: 0,movie_name,Directed by,Story by,Based on,Produced by,Starring,Music by,Productioncompany,Distributed by,...,Budget,Box office,Narrated by,Cinematography,Release date,Written by,Edited by,Screenplay by,Countries,Productioncompanies
0,0,Snow White and the Seven Dwarfs (1937 film),"['David Hand', 'Perce Pearce', 'Larry Morey', ...","['Ted Sears', 'Earl Hurd', 'Merrill De Maris']","['Snow White', 'Brothers Grimm']",['Walt Disney'],"['Adriana Caselotti', 'Roy Atwell', 'Pinto Col...","['Frank Churchill', 'Leigh Harline', 'Paul Smi...",['Walt Disney Productions'],['RKO Radio Pictures'],...,['$1.5 million[1]'],['$418 million[2]'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Pinocchio (1940 film),"['Ben Sharpsteen', 'Hamilton Luske', 'Norman F...","['Ted Sears', 'Erdman Penner', 'Ted Sears\nOtt...","['The Adventures of Pinocchio', 'Carlo Collodi']",['Walt Disney'],"['Cliff Edwards', 'Dickie Jones', 'Christian R...","['Leigh Harline', 'Ned Washington', 'Paul J. S...",['Walt Disney Productions'],['RKO Radio Pictures'],...,['$2.6 million[4]'],['$164\xa0million'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Fantasia (1940 film),"['James Algar', 'Ben Sharpsteen', 'David D. Ha...","['Joe Grant', 'Dick Huemer']",NaN,['Walt Disney'],"['Leopold Stokowski', 'Deems Taylor']",['See plot'],['Walt Disney Productions'],['RKO Radio Pictures'],...,"['$2.28 million[2][3]', '$2.28 million[2][3]']",['$76.4–$83.3 million (United States and Canad...,['Deems Taylor'],['James Wong Howe'],"['\nNovember\xa013,\xa01940\xa0(1940-11-13)\n']",NaN,NaN,NaN,NaN,NaN
3,3,The Reluctant Dragon (1941 film),"['Alfred Werker', 'Hamilton Luske', 'Jack Cutt...",NaN,NaN,['Walt Disney'],"['Robert Benchley', 'Frances Gifford', 'Nana B...","['Frank Churchill', 'Larry Morey']",['Walt Disney Productions'],['RKO Radio Pictures'],...,"['$600,000[2]']","['$960,000 (worldwide rentals) [3]']",NaN,['Bert Glennon'],"['June\xa027,\xa01941\xa0(1941-06-27)[1]']","['Ted Sears', 'Al Perkins', 'Larry Clemmons', ...",['Paul Weatherwax'],NaN,NaN,NaN
4,4,Dumbo,"['Ben Sharpsteen', 'Norman Ferguson', 'Wilfred...","['Joe Grant', 'Dick Huemer']",['Helen Aberson'],['Walt Disney'],"['Edward Brophy', 'Verna Felton', 'Cliff Edwar...","['Frank Churchill', 'Oliver Wallace']",['Walt Disney Productions'],['RKO Radio Pictures'],...,"['$950,000[2]']",['>$1.3 million (est. United States/Canada ren...,['John McLeish'],NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.tail()

,Unnamed: 0,movie_name,Directed by,Story by,Based on,Produced by,Starring,Music by,Productioncompany,Distributed by,...,Budget,Box office,Narrated by,Cinematography,Release date,Written by,Edited by,Screenplay by,Countries,Productioncompanies
520,520,Elio (film),['Adrian Molina'],NaN,NaN,['Mary Alice Drumm'],"['America Ferrera', 'Jameela Jamil', 'Brad Gar...",NaN,NaN,['Walt Disney StudiosMotion Pictures'],...,NaN,NaN,NaN,['Danielle Feinberg'],"['\nJune\xa013,\xa02025\xa0(2025-06-13)\n']",['Adrian Molina[1]'],NaN,NaN,NaN,"['Walt Disney Pictures', 'Pixar Animation Stud..."
521,521,Out of My Mind (film),Amber Sealey,NaN,"['Out of My Mind', 'Sharon M. Draper']","['Dan Angel', 'Peter Saraf']","['Rosemarie DeWitt', 'Luke Kirby', 'Judith Lig...",NaN,NaN,['Disney+'],...,NaN,NaN,NaN,['Noah Greenberg'],['Sundance'],['Daniel Stiepleman'],['Jacob Craycroft'],NaN,NaN,"['Walt Disney Pictures', ' Big Beach Films', '..."
522,522,Young Woman and the Sea,Joachim Rønning,NaN,['Young Woman and the Sea: How Trudy Ederle Co...,['Jerry Bruckheimer'],"['Daisy Ridley', 'Tilda Cobham-Hervey']",['Amelia Warner'],NaN,['Disney+'],...,NaN,NaN,NaN,['Óscar Faura'],NaN,NaN,['Úna Ní Dhonghaíle'],['Jeff Nathanson'],NaN,"['Walt Disney Pictures', 'Jerry Bruckheimer Fi..."
523,523,Lilo & Stitch (upcoming film),Dean Fleischer Camp,NaN,"['Lilo & Stitch', 'Chris Sanders', 'Dean DeBlo...",['Dan Lin'],"['Zach Galifianakis', 'Billy Magnussen', 'Tia ...",NaN,NaN,['Disney+'],...,NaN,NaN,NaN,['Nigel Bluck'],NaN,['Chris Kekaniokalani Bright'],NaN,NaN,NaN,"['Walt Disney Pictures', 'Rideback']"
524,524,Tron: Ares,Joachim Rønning,"['Steven Lisberger', 'Bonnie MacBird']",['Charactersby Steven LisbergerBonnie MacBird'],['Jared Leto'],"['Evan Peters', 'Greta Lee', 'Jodie Turner-Smi...",NaN,NaN,['Walt Disney Studios Motion Pictures'],...,NaN,NaN,NaN,['Jeff Cronenweth'],NaN,NaN,NaN,['Jack Thorne'],NaN,['Walt Disney Pictures']

In [7]:
df.columns

Index(['Unnamed: 0', 'movie_name', 'Directed by', 'Story by', 'Based on',
       'Produced by', 'Starring', 'Music by', 'Productioncompany',
       'Distributed by', 'Release dates', 'Running time', 'Country',
       'Language', 'Budget', 'Box office', 'Narrated by', 'Cinematography',
       'Release date', 'Written by', 'Edited by', 'Screenplay by', 'Countries',
       'Productioncompanies'],
      dtype='object')

In [8]:
df.isnull().sum()

Unnamed: 0               0
movie_name               0
Directed by              0
Story by               356
Based on               235
Produced by              8
Starring                32
Music by                 7
Productioncompany      321
Distributed by           0
Release dates          328
Running time             9
Country                 71
Language                23
Budget                 211
Box office             128
Narrated by            466
Cinematography         126
Release date           200
Written by             301
Edited by               42
Screenplay by          263
Countries              458
Productioncompanies    204
dtype: int64

In [9]:
df.duplicated().sum()

0

In [10]:
df.value_counts()

Series([], Name: count, dtype: int64)

In [ ]:
print(df)

In [11]:
for col in df.columns:
    col=col.strip().lower().replace(' ','_')
df.columns

Index(['Unnamed: 0', 'movie_name', 'Directed by', 'Story by', 'Based on',
       'Produced by', 'Starring', 'Music by', 'Productioncompany',
       'Distributed by', 'Release dates', 'Running time', 'Country',
       'Language', 'Budget', 'Box office', 'Narrated by', 'Cinematography',
       'Release date', 'Written by', 'Edited by', 'Screenplay by', 'Countries',
       'Productioncompanies'],
      dtype='object')

In [23]:
mcols=[col for col in df.columns if df[col].isnull().any()]
df[mcols].head()

,Story by,Based on,Produced by,Starring,Music by,Productioncompany,Release dates,Running time,Country,Language,Budget,Box office,Narrated by,Cinematography,Release date,Written by,Edited by,Screenplay by,Countries,Productioncompanies
0,"['Ted Sears', 'Earl Hurd', 'Merrill De Maris']","['Snow White', 'Brothers Grimm']",['Walt Disney'],"['Adriana Caselotti', 'Roy Atwell', 'Pinto Col...","['Frank Churchill', 'Leigh Harline', 'Paul Smi...",['Walt Disney Productions'],['Carthay Circle Theatre'],['83 minutes'],['United States'],['English'],['$1.5 million[1]'],['$418 million[2]'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"['Ted Sears', 'Erdman Penner', 'Ted Sears\nOtt...","['The Adventures of Pinocchio', 'Carlo Collodi']",['Walt Disney'],"['Cliff Edwards', 'Dickie Jones', 'Christian R...","['Leigh Harline', 'Ned Washington', 'Paul J. S...",['Walt Disney Productions'],"['Center Theatre', 'February\xa07,\xa01940\xa0...",['88 minutes'],['United States'],['English'],['$2.6 million[4]'],['$164\xa0million'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"['Joe Grant', 'Dick Huemer']",NaN,['Walt Disney'],"['Leopold Stokowski', 'Deems Taylor']",['See plot'],['Walt Disney Productions'],NaN,['126 minutes[1]'],['United States'],['English'],"['$2.28 million[2][3]', '$2.28 million[2][3]']",['$76.4–$83.3 million (United States and Canad...,['Deems Taylor'],['James Wong Howe'],"['\nNovember\xa013,\xa01940\xa0(1940-11-13)\n']",NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,['Walt Disney'],"['Robert Benchley', 'Frances Gifford', 'Nana B...","['Frank Churchill', 'Larry Morey']",['Walt Disney Productions'],NaN,['74 minutes'],['United States'],['English'],"['$600,000[2]']","['$960,000 (worldwide rentals) [3]']",NaN,['Bert Glennon'],"['June\xa027,\xa01941\xa0(1941-06-27)[1]']","['Ted Sears', 'Al Perkins', 'Larry Clemmons', ...",['Paul Weatherwax'],NaN,NaN,NaN
4,"['Joe Grant', 'Dick Huemer']",['Helen Aberson'],['Walt Disney'],"['Edward Brophy', 'Verna Felton', 'Cliff Edwar...","['Frank Churchill', 'Oliver Wallace']",['Walt Disney Productions'],"['October\xa023,\xa01941\xa0(1941-10-23) (New ...",['64 minutes'],['United States'],['English'],"['$950,000[2]']",['>$1.3 million (est. United States/Canada ren...,['John McLeish'],NaN,NaN,NaN,NaN,NaN,NaN,NaN